h1.smk-pangeran {
	font-weight: 900 !important;
}

.image img {
	max-width: 100%;
	max-height: 100%;
}

main section:nth-child(1) {
	height: calc(100vh - 66px);
}
main section:nth-child(2) {
	min-height: 100vh;
}
.action button {
	color: white;
	background-color: var(--green);
	transition: transform 0.3s;
}
.action button:hover {
	transform: scale(1.05);
}

.blob-background .orbitting-item {
	background-color: rgba(255, 255, 255, 0.2);
	width: fit-content;
	padding: 15px;
	border-radius: 10px;
	backdrop-filter: blur(10px);
	color: #064d04;
	border: 1px solid rgba(0, 0, 0, 0.3);
	width: 50px;
	height: 50px;
	position: absolute;
}

.orbitting-item.quotes {
	background-color: rgba(255, 255, 255, 0.2);
	padding: 15px;
	border-radius: 10px;
	backdrop-filter: blur(10px);
	color: #064d04;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.orbitting-item {
	position: absolute;
}

.section-2 {
	width: 100vw;
	/* border: 1px solid red; */
	/* transform: translateX(-50%); */
	/* position: absolute; */
	/* left: 50%; */
	background-color: rgba(120, 204, 120, 0.13);
	/* filter: blur(1px); */
	/* transform */
	color: var(--green);
}

.smk-pangeran {
	color: var(--green);
	text-shadow: 2px 2px 0 #b6e6b1, 4px 4px 0 #b8d5bf;
}
[data-bs-theme="dark"] .smk-pangeran {
	text-shadow: 2px 2px 0 #a0cc9b, 4px 4px 0 #2c6338;
}

.image svg {
	aspect-ratio: 1 / 1;
	width: 95%;
	max-width: 95%;
	max-height: 95%;
}

.n-letter_1 {
	display: inline-block;
	transform: translateY(6px);
}
.n-letter_2 {
	display: inline-block;
	transform: translateY(-6px) translateX(0.5px);
}

.image .school-tools {
	max-width: 100px;
	max-height: 100px;
}

.principals-foreword__paragraf__half {
	/* border: 2px solid rgb(31, 196, 31); */
	display: inline-block;
}

.left-half-circle {
	width: 280px;
	height: 280px;
	float: right;
	clip-path: circle(50% at center right);
	background-color: rgba(120, 204, 120, 0.13);
	shape-outside: circle(50% at center right);
	margin-right: -12px;
}
.right-half-circle {
	width: 280px;
	height: 280px;
	float: left;
	clip-path: circle(50% at center left);
	background-color: rgba(120, 204, 120, 0.13);
	shape-outside: circle(50% at center left);
	margin-left: -12px;
	/* position: relative;
	top: 50%;
	transform: translateY(-50%); */
}

.text-svg {
	width: 280px !important;
	padding: 0 !important;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
	top: 5px;
}
.text-svg text {
	fill: var(--green);
	font-weight: 800;
	font-family: poppins;
}

.principals-foreword__paragraf__body {
	text-align: justify;
}

.principals-foreword__picture .gear {
	transform: translateX(-50%);
}
.principals-foreword__picture .headmaster {
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-150%);
}
.principals-foreword__paragraf__half::after {
	content: "";
	clear: both;
}
.principals-foreword__picture__wrapper {
	width: 280px;
	height: 280px;
	background-color: rgba(120, 204, 120, 0.13);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	clip-path: circle();
	display: none;
}

.most-updated-news .news {
	/* min-width: 30%; */
	box-shadow: 0 25px 10px -15px rgba(0, 0, 0, 0.75);
	transition: 0.5s;
}

.most-updated-news .news:hover {
	/* min-width: 30%; */
	box-shadow: 0 75px 10px -50px rgba(0, 0, 0, 0.2);
	transform: translateY(-7px);
}

.most-updated-news .news img {
	height: 200px;
	width: auto;
}

.row a {
	min-width: 300px;
	max-width: 350px;
	border: none !important;
}

.card {
	border: none !important;
}
.card .card-body {
	background-color: #198754;
	color: #fafafa;
}

.teachers-list {
	color: var(--green);
}

/* .social-medias li {
	flex: 0 1 100px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
} */

.social-medias li a {
	width: 150px;
	height: 50px;
	min-width: 0;
	transform: rotate(-10deg) skew(45deg);
	position: relative;
}

.social-medias li a span {
	margin-left: 20px;
	display: block;
	width: 150px;
	height: 30px;
	min-width: 0;
	min-height: 0;
	background-color: #f7f7f7;
	padding-left: 20px;
	transform: translateZ(0);
	transition: 0.5s;
	box-shadow: -25px 25px 15px rgba(0, 0, 0, 0.5);
	transform-origin: center;
	will-change: box-shadow;
	opacity: 0.8;
}

.social-medias li a span::before {
	content: "";
	position: absolute;
	height: 100%;
	left: -16px;
	top: 8px;
	width: 16px;
	background-color: white;
	transition: 0.5s;
	transform: skewY(-45deg);
}

.social-medias li a span::after {
	content: "";
	position: absolute;
	left: -8px;
	bottom: -16px;
	height: 16px;
	width: 100%;
	background-color: white;
	transition: 0.5s;
	transform: skewX(-45deg);
}

.social-medias li a:hover > span {
	transform: translate(7px, -7px);
	box-shadow: -40px 40px 15px rgba(0, 0, 0, 0.3);
}

.social-medias li a:hover > .facebook,
.social-medias li a:hover > .facebook::before,
.social-medias li a:hover > .facebook::after {
	background-color: rgb(24, 119, 242);
	color: white;
}

.social-medias li a > .instagram {
	background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.social-medias li a .instagram-icon {
	fill: #e4405f;
}
.social-medias li a:hover > .instagram > .instagram-icon {
	fill: white;
}
.social-medias li a:hover > .instagram,
.social-medias li a:hover > .instagram::before,
.social-medias li a:hover > .instagram::after {
	background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
	-webkit-text-fill-color: white;
	/* color: white; */
}

.social-medias li a > .whatsapp {
	color: #25d366;
}
.social-medias li a:hover > .whatsapp,
.social-medias li a:hover > .whatsapp::before,
.social-medias li a:hover > .whatsapp::after {
	background-color: #25d366;
	color: white;
}

.map iframe {
	width: 75%;
	height: 75%;
}

@media (max-width: 768px) {
	.row .hero-article {
		height: 50% !important;
	}
	.n-letter_1 {
		display: inline-block;
		transform: translateY(10.5px);
	}
	.n-letter_2 {
		display: inline-block;
		transform: translateY(-10.5px) translateX(2.5px);
	}
}

@media (min-width: 768px) {
	main section:nth-child(1) {
		height: calc(70vh - 66px) !important;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	svg {
		top: 15%;
	}
	.n-letter_1 {
		display: inline-block;
		transform: translateY(8px);
	}
	.n-letter_2 {
		display: inline-block;
		transform: translateY(-8px) translateX(-0.5px);
	}
}

@media (max-width: 992px) {
	.principals-foreward .principals-foreword__picture {
		position: relative !important;
		left: 0 !important;
		text-align: center;
	}
	.principals-foreword__picture .gear {
		transform: translateX(0);
	}
	.principals-foreword__picture .headmaster {
		left: 50%;
		transform: translateY(-46%) translateX(-50%);
		opacity: 0.5;
		opacity: 1;
	}
	.principals-foreword__picture__wrapper {
		display: block;
	}

	.left-half-circle,
	.right-half-circle {
		width: 200px;
		height: 200px;
	}

	.text-svg {
		top: 15px;
	}
}
